.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .close {
    position: fixed;
    top: 20px;
    left: 20px;
  }

  .content-login {
    min-height: 500px;
    height: 500px;
    width: max(30%, 350px);
    box-shadow: 1px 1px 12px 3px hsla(0, 0%, 0%, 0.4);
    border-radius: 12px;
    padding: 6px;
    background-color: hsla(0, 0%, 100%, 0.7);
    padding-top: 30px;
  }
}
