.modal {
  height: 100dvb;
  background-color: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(10px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 3;
}
