* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--montserrat);
}
body {
  height: 100dvb;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}
