.main {
    display: grid;
    width: 100%;
    height: 100%;
    grid: "header" 40px
          "content" 1fr
          /1fr;

    .header {
        grid-area: header;
    }

    .contentLink {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        margin-left: 20px;
        margin-right: auto;
    }

    .content {
        grid-area: content;
        padding-top: 20px;
    }
}