.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  height: 90%;

  .container {
    width: max(30%, 350px);

    .section-precursorado {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;
    }
  }
}
